        </div>
      </div>

      
    </div>
    <footer>
        <p class="text-center">&copy; Company 2014</p>
    </footer>

    <!-- Model -->
    <%- include modal-wrapper.ejs %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bs/tooltip.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/ionRangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="/js/custom.js"></script>
  
  </body>
</html>
