<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PPaaS</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

  </head>

  <body>

    <div class="cs-wrapper">
      
      <div class="main">

        <header id="header">
          <div class="container header">

            <div role="navigation" class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-header">
                  <a href="http://www.ppaasinnovato.com" class="navbar-brand logo-content">PPaaS</a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="http://www.ppaasinnovato.com">Home</a></li>
                    <li><a href="/submit-opportunity">Initiate PPaaS Engagement</a></li>
                    <li><a href="/explore-opportunity">Explore Opportunities</a></li>
                  </ul>
                </div>
            </div>

          </div>
        </header>
        
        <div class="banner-wrapper">
          <div class="container text-center content-fill">
            <p class="innovation">Innovation</p>
            <p class="start-with-u">STARTS WITH YOU</p>
            <p class="opportunities-button">
              <a class="btn btn-success opportunities-btn space-right" href="/submit-opportunity">Initiate PPaaS Engagement</a>
              <a class="btn btn-success opportunities-btn space-left" href="/explore-opportunity">Explore Opportunities</a>
            </p>
          </div>

          <div class="container text-center">
            <div class="home-page-content">
              <p class="text-center solutions">Have a solution opportunity and need help from PPaaS?</p>
              <p class="text-center enabling">PPaaS is enabling early discovery of new solution opportunities through PPaaS Innovato. Submit opportunities here.</p>
            </div>

          </div>
        </div>
        
      </div>

      <footer>
        <p class="text-center">&copy; Company PPaaS 2014</p>
      </footer>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/ionRangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="/js/custom.js"></script>
  
  </body>
</html>
